@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  margin: 0px;
  overflow: hidden; /* Hide scrollbars */
  overflow-x: hidden !important; /* Force prevent horizontal scaling */
  cursor: wait;
  font-family: 'Inter', sans-serif;
}

